 body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*body{
    background-image: url('../../img/fondo.png');
    background-size: cover
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.title{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.page img{
    height: 300px;
    margin-bottom: 1rem;
}

.form{
    padding: 1.5rem;
    width: 300px;
    min-height: 400px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    /*backdrop-filter: blur(15px);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: auto;
}

.form label{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.form input{
    height: 30px;
    width: 100%;
    border-radius: 1rem;
    border: none;
    background:rgb(255, 255, 255, 0.2);
}

.danger{
    font-weight: 500;
    color: white;
    background-color: #ff01016d;
}

.form button{
    cursor: pointer;
    background-color: #fff;
    color: #302b63;
    border: none;
    padding: 10px 5px;
    font-size: 1.2rem;
    border-radius: 1rem;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}


.form button:hover{
    background-color: #7b76ae;
    color: #fff;
}