.title{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin: none;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 20px 20px 80px 20px;
    position: relative;
}

.image{
    border-radius: 0.5rem;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.image:hover{
    box-shadow: 0 0 20px 0 #22ff00d3;
    transform: scale(1.1);
}

.close{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.5rem;
    background-color: #ffffff25;
    border: none;
    font-size: 1.5rem;
    color: #0000008e;
}

.text{
    background-color: #ffffff1b;
    border-radius: 1rem;
    margin: 0px 10px;
    position: absolute;
    bottom: -50px;
    left: 0;
    padding: 15px;   
    width: 250px;
    backdrop-filter: blur(20px);
}

.text:hover{
    box-shadow: 0 0 15px 0 #ffffffd3;
}

.text h2{
    margin: 0px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.status{
    font-size: 1rem;
    margin: 0px;
    color: #ffffffa7;
}

.like{
    cursor: pointer;
    top: 10px;
    right: 0;
    background-color: #ffffff00;
    border: none;
    font-size: 1.4rem;
    position: absolute;
}

.info{
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    border: none;
    font-size: 1.3rem;
    position: absolute;
    color: #fff;
    background-color: #302b63;
    border-radius: 0.2rem;
}

.info:hover{
    color: #302b63;
    background-color: #fff;
}